In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the excel file(s) 
df = pd.read_excel('miles50_coventry.xlsx')

In [3]:
df.head()

,Unnamed: 0,outward_code_x,dist_centres,distance,OrderID,WebsiteID,OrderDate,Status,PaymentOption,Courier,ProductsExVAT,DeliveryExVAT,DateDespatched,DeliveryCost,country,Weight_per_line,Volume_per_line_m3,Pallet_per_line
0,0,DY6,Midlands,26.84,2295440,7700,2023-04-18 15:16:50.030,Dispatched,On Account,MFS,375.40,0.00,2023-04-18,34.46,United Kingdom,110.00,0.225000,0.200000
1,1,OX18,Midlands,43.04,2292996,9759,2023-04-16 20:47:47.493,Dispatched,Payment Gateway,DX Freight,148.41,0.00,2023-04-17,14.77,United Kingdom,29.24,0.219678,0.200025
2,2,CV5,Midlands,2.34,2285048,13038,2023-04-05 10:58:30.303,Dispatched,Payment Gateway,DX Freight,170.94,0.00,2023-04-05,14.45,United Kingdom,28.50,0.044060,0.044323
3,3,WS15,Midlands,29.80,2297608,15160,2023-04-20 11:31:32.320,Dispatched,On Account,DX Express,42.26,7.17,2023-04-20,6.76,United Kingdom,8.56,0.053674,0.028439
4,4,MK1,Midlands,44.21,2281052,16152,2023-03-31 14:07:41.883,Dispatched,On Account,DX Freight,124.36,0.00,2023-03-31,22.28,United Kingdom,48.74,0.090629,0.059524

In [4]:
df1 = df[['outward_code_x','distance', 'Courier', 'DeliveryCost', 'Weight_per_line',
         'Volume_per_line_m3', 'Pallet_per_line']].copy()

In [5]:
df1.head(5)

,outward_code_x,distance,Courier,DeliveryCost,Weight_per_line,Volume_per_line_m3,Pallet_per_line
0,DY6,26.84,MFS,34.46,110.00,0.225000,0.200000
1,OX18,43.04,DX Freight,14.77,29.24,0.219678,0.200025
2,CV5,2.34,DX Freight,14.45,28.50,0.044060,0.044323
3,WS15,29.80,DX Express,6.76,8.56,0.053674,0.028439
4,MK1,44.21,DX Freight,22.28,48.74,0.090629,0.059524

In [6]:
# Reading the Excel file of coordinate information into a Pandas DataFrame
long_lat = pd.read_csv('UK-Postcodes.csv')

# Viewing the DataFrame
long_lat.head()

   id outcode   latitude  longitude
0   1    AB10  57.131086  -2.122482
1   2    AB11  57.131210  -2.082261
2   3    AB12  57.098381  -2.172400
3   4    AB13  57.108000  -2.237000
4   5    AB14  57.101000  -2.270000

In [7]:
# Merging the long-lat and customers_cleaned DataFrames into a new one
# Carrying out a left join to get a latitude and longitiude for each of our postcodes
df2 = pd.merge(df1, long_lat, 
                    left_on = 'outward_code_x',
                    right_on = 'outcode',
                    how = 'left')

In [8]:
df2.head()

,outward_code_x,distance,Courier,DeliveryCost,Weight_per_line,Volume_per_line_m3,Pallet_per_line,id,outcode,latitude,longitude
0,DY6,26.84,MFS,34.46,110.00,0.225000,0.200000,766,DY6,52.496759,-2.173682
1,OX18,43.04,DX Freight,14.77,29.24,0.219678,0.200025,1934,OX18,51.767526,-1.582311
2,CV5,2.34,DX Freight,14.45,28.50,0.044060,0.044323,597,CV5,52.424186,-1.562449
3,WS15,29.80,DX Express,6.76,8.56,0.053674,0.028439,2915,WS15,52.765303,-1.911238
4,MK1,44.21,DX Freight,22.28,48.74,0.090629,0.059524,1664,MK1,52.006042,-0.726102

## k-means clustering

In [9]:
#imports
import matplotlib.cm as cm
import seaborn as sns
import statsmodels.api as sm 
from statsmodels.formula.api import ols

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.metrics import accuracy_score
from scipy.spatial.distance import cdist

In [10]:
df3 = df2[['latitude', 'longitude', 'Courier']].copy

In [11]:
# Create a scatterplot with Seaborn.
sns.set_style('darkgrid')
sns.scatterplot(x='latitude', y='longitude', 
                data=df3, hue='Courier')

# Create a pairplot with Seaborn.
x = rev3[['latitude', 'longitude']]

sns.pairplot(rev3,
             vars=x,
             diag_kind= 'kde', hue='Courier')

ValueError: Could not interpret value `latitude` for parameter `x`

In [ ]:
sns.scatterplot(x='latitude', y='longitude')